.note-container {
    height: 100%;
}

.note-container h2 {
    margin-bottom: 15px;
    color: #00001d;
}

.note-container-notes {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: scroll;
}

h2 {
    font-weight: 700;
}