.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .bx-plus {
    font-size: 25px;
    color: white;
    cursor: pointer;
    background-color: #00001d;
    padding: 10px;
    border-radius: 25px;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    height: 0;
    transition: 300ms;
    cursor: pointer;
}

.sidebar-list-active {
    height: 300px;
}

.sidebar-list-item {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    list-style: none;
}